modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:netlify"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 33551
externalPort = 3002

[[ports]]
localPort = 35637
externalPort = 6000

[[ports]]
localPort = 37961
externalPort = 3001

[[ports]]
localPort = 38503
externalPort = 3003

[[ports]]
localPort = 43449
externalPort = 3000

[[ports]]
localPort = 45657
externalPort = 5000
